@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
}

@layer components {
  .coca-cola-button {
    @apply bg-coca-cola-red hover:bg-coca-cola-dark text-white font-bold py-2 px-4 rounded transition-colors duration-300;
  }

  .coca-cola-text {
    @apply text-coca-cola-red font-bold;
  }
}
